<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="loggIJsonFormatTilKibana"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka.controller" level="WARN"/>
    <logger name="kafka.server" level="WARN"/>
    <logger name="kafka.coordinator" level="WARN"/>
    <logger name="kafka.zookeeper" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
</configuration>