<configuration>
    <appender name="loggIJsonFormatTilKibana" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="loggIJsonFormatTilKibana"/>
    </root>

    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="kafka.controller" level="WARN"/>
    <logger name="kafka.server" level="WARN"/>
    <logger name="kafka.coordinator" level="WARN"/>
    <logger name="kafka.zookeeper" level="WARN"/>
</configuration>