name: Deploy branch to dev
run-name: Deploy feature branch ${{ github.ref_name }} by @${{ github.actor }}
on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  IMAGE_TAG: ${{ github.sha }}
  IMAGE: ghcr.io/${{ github.repository }}/veilarbdialog
  PRINT_PAYLOAD: true

concurrency:
  group: deploy_feature_branch
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  test-build-and-push:
    name: Test, build and push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'
#      - name: Build maven artifacts
#        run: mvn -B package -DskipTests
#      - uses: docker/login-action@v2
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#      - uses: docker/build-push-action@v3
#        with:
#          context: .
#          push: true
#          tags: ${{ env.IMAGE }}:${{ env.IMAGE_TAG }}
#      - name: Dialogvarsler - Test
#        working-directory: dialogvarsler
#        run: ./gradlew test
      - name: Dialogvarsler - Build image
        working-directory: dialogvarsler
        run: ./gradlew buildImage
      - name: Dialogvarsler - Publish image
        working-directory: dialogvarsler
        run: ./gradlew publishImage
        env:
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy application
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.DAB_NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: dialogvarsler/nais/nais-dev.yaml
          VAR: version=${{ env.IMAGE_TAG }}

#  deploy-dev:
#    name: Deploy application to dev
#    needs: test-build-and-push
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Deploy application
#        uses: nais/deploy/actions/deploy@v1
#        env:
#          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
#          CLUSTER: dev-fss
#          RESOURCE: nais/nais-dev.yaml
#          VAR: version=${{ env.IMAGE_TAG }},namespace=q1
