name: Deploy kafka topics to dev
on:
  push:
    paths:
      - "nais/kafka-topic/dev/*.yaml"
  workflow_dispatch:

jobs:
  deploy-topics-dev:
    name: Deploy kafka topics to dev
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: List resource files
        run: echo "RESOURCE_FILES=$(find nais/kafka-topic/dev -type f | tr '\n' ',' | sed 's/,$/\n/')" >> $GITHUB_ENV
      - name: Deploy kafka topics
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: ${{ env.RESOURCE_FILES }}
          PRINT_PAYLOAD: true